# Address of the deployed UsdcStaking contract on Arc Testnet
VITE_STAKING_ADDRESS=0x0000000000000000000000000000000000000000
# Free project id from https://cloud.reown.com (WalletConnect)
VITE_WALLETCONNECT_PROJECT_ID=
